main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > form {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
main > form > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableau{
    height: 80%;
    width: 80%;
    overflow: auto;
}
.firstRow{
    padding: 0;
}
.firstRow > p{
    margin: 0;
}